.services-expertise--section {
  padding-top: 100px;

  .services-expertise--wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .left {
      position: relative;
      .services-expertise--line {
        img {
          position: absolute;
          top: -100px;
          left: 75px;
        }
      }
      h4 {
        font-family: "DendaNewC", sans-serif;

        font-weight: 700;
        font-size: 30px;
        line-height: 39px;

        text-transform: uppercase;

        color: #00a757;

        width: 100%;
        max-width: 210px;
      }
      .services-expertise-leaf {
        img {
          position: absolute;
          bottom: 0px;
          left: -125px;
        }
      }
    }

    .right {
      width: 70%;
      .section-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        border-bottom: 1px solid #c1c9cb;
        padding-bottom: 25px;
        button {
          border: none;
          outline: none;
          background: transparent;
          cursor: pointer;

          font-family: "Roboto Slab", sans-serif;

          font-weight: 400;
          font-size: 20px;
          line-height: 26px;

          text-decoration-line: underline;
          &:not(:last-child) {
            margin-right: 30px;
          }
        }
      }
      .expanded-window {
        .expanded-section-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 30px 0px;

          font-family: "Roboto Slab", sans-serif;
          font-weight: 400;
          font-size: 25px;
          line-height: 40px;

          border-bottom: 1px solid #c1c9cb;

          &.active {
            border-bottom: none;
            padding-bottom: 10px;
            img {
              width: 37px;
              height: 37px;
              cursor: pointer;
            }
          }

          img {
            width: 25px;
            height: 25px;
            cursor: pointer;
          }
        }

        .expanded-section-text {
          font-family: "Roboto Slab", sans-serif;

          font-weight: 400;
          font-size: 20px;
          line-height: 26px;
          width: 100%;
          max-width: 800px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .services-expertise--section {
    .services-expertise--wrapper {
      .left {
        .services-expertise-leaf {
          img {
            position: absolute;
            bottom: 0px;
            left: -125px;
            width: 400px;
          }
        }
      }

      .right {
        width: 65%;
        .section-buttons {
          button {
            font-size: 18px;
          }
        }
        .expanded-window {
          .expanded-section-title {
            font-size: 23px;

            &.active {
              img {
                width: 33px;
                height: 33px;
              }
            }

            img {
              width: 23px;
              height: 23px;
            }
          }

          .expanded-section-text {
            font-size: 18px;
            max-width: 575px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .services-expertise--section {
    .services-expertise--wrapper {
      .left {
        h4 {
          font-size: 25px;
          line-height: 30px;
        }
        .services-expertise-leaf {
          img {
            display: none;
          }
        }
      }

      .right {
        width: 65%;
        .section-buttons {
          padding-bottom: 15px;
          button {
            font-size: 15px;
          }
        }
        .expanded-window {
          .expanded-section-title {
            font-size: 17px;
            padding: 15px 0;

            &.active {
              img {
                width: 30px;
                height: 30px;
              }
              p {
              }
            }

            img {
              width: 20px;
              height: 20px;
            }
          }

          .expanded-section-text {
            font-size: 15px;
            max-width: 400px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .services-expertise--section {
    .services-expertise--wrapper {
      .left {
        width: 100%;
        margin-bottom: 10px;
        .services-expertise--line {
          img {
            display: none;
          }
        }
        h4 {
          font-size: 21px;
          line-height: 30px;
          width: 100%;
          max-width: 100%;
        }
        .services-expertise-leaf {
          img {
            display: none;
          }
        }
      }

      .right {
        width: 100%;
        .section-buttons {
          padding-bottom: 15px;
          button {
            font-size: 15px;
          }
        }
        .expanded-window {
          .expanded-section-title {
            font-size: 21px;
            padding: 15px 0;
            line-height: 23px;
            p {
              width: 300px;
            }

            &.active {
              img {
                width: 30px;
                height: 30px;
              }
              p {
              }
            }

            img {
              width: 20px;
              height: 20px;
            }
          }

          .expanded-section-text {
            font-size: 15px;
            max-width: 300px;
          }
        }
      }
    }
  }
}
