<footer>
  <div class="container">
    <div class="footer-wrapper">
      <div class="left">
        <img src="./assets/images/footer-circle.jpg " alt="" />
        <h4>Be connected</h4>
      </div>
      <div class="right">
        <from>
          <div class="inputs">
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
          </div>
          <textarea placeholder="Question"></textarea>
          <button type="submit">Отправить</button>
        </from>
      </div>
    </div>
    <div class="footer-info">
      <div class="left">
        <p><a href="#">aecomp@aecomp.ru</a></p>
      </div>
      <div class="right">
        <p><a href="#">+7 (499) 702-83-23</a></p>
        <p><a href="#">+7 (495) 605-37-17</a></p>
      </div>
    </div>
  </div>
</footer>
